## 1) What is pandas merging

### pandas merge connects columns or indexes in DataFrame based on one or more keys

## 2) Parameters of pandas merging
## 3) Pandas merge on
## 4) Pandas merge how
## 5) pandas merge indicator
## 6) pandas merge left_index
## 7) pandas merge right_index
## 8) pandas merge suffixes

In [2]:
import pandas as pd

In [3]:
df1=pd.DataFrame({'ID':[1,2,3,4],'Class':[9,10,11,12]})
df1

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [4]:
df2=pd.DataFrame({'ID':[1,2,3,4],'Name':['A','B','C','D']})
df2

   ID Name
0   1    A
1   2    B
2   3    C
3   4    D

In [ ]:
pd.merge()