# Pandas Series

> ### 1) Creating empty Series
> ### 2) Creating Series from list
> ### 3) Creating Series from scalar value
> ### 4) Creating Series from Python Dictionary
> ### 5) Mathematical Operations in Series
> ### 6) Slicing in Series
> ### 7) Handling Missing Data

> ### pd.Series
> ### series.append()
> ### series.drop()

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [3]:
list_s=[1,2,-2,4.6,'data values']
print(list_s)

[1, 2, -2, 4.6, 'data values']

In [4]:
series1=pd.Series(list_s)

In [5]:
series1 # first columns index value second column data values

0              1
1              2
2             -2
3            4.6
4    data values
dtype: object

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
series2=pd.Series([1,2,4,4]) # first column is index second column is data values
print(series2)

0    1
1    2
2    4
3    4
dtype: int64

In [8]:
emty_s=pd.Series([])

In [9]:
print(emty_s)

Series([], dtype: float64)

In [12]:
series3=pd.Series([12,3,4],index=['a','b','c'],dtype=float)
print(series3)

a    12.0
b     3.0
c     4.0
dtype: float64

In [13]:
series3=pd.Series([12,3,4],index=['a','b','c'],dtype=float,name='data values')
print(series3)

a    12.0
b     3.0
c     4.0
Name: data values, dtype: float64

In [14]:
scalar_s=pd.Series(0.5)

In [15]:
scalar_s

0    0.5
dtype: float64

In [16]:
scalar_s=pd.Series(0.5,index=[1,2,3])

In [18]:
#  how to use Dictionary in series
dict_s=pd.Series({'a':1,'b':2})
print(dict_s)

a    1
b    2
dtype: int64

In [19]:
# how to index series values

s4=pd.Series([1,3,4,3])

In [20]:
s4

0    1
1    3
2    4
3    3
dtype: int64

In [22]:
s4[3]

3

In [24]:
s4[0:3]

0    1
1    3
2    4
dtype: int64

In [25]:
max(s4)

4

In [26]:
min(s4)

1

In [27]:
s4[s4>3]

2    4
dtype: int64

In [30]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
s6=pd.Series([12,3,4,5])
print(s6)

0    12
1     3
2     4
3     5
dtype: int64

In [32]:
s5+s6

0    13.0
1     5.0
2     7.0
3     9.0
4     NaN
dtype: float64