# What is Pandas DataFrame
> ### Pandas DataFrame is two-dimensional ,size-mutable,potentially
> ### heterogeneous tabluar data structure with labeled axes (rows and columns)

## How to create Pandas DataFrame

In [1]:
import pandas as pd 
# create empty dataframe
emt_df=pd.DataFrame()

In [2]:
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
# creating data frame from list
lst=['a','b','c']
print(lst)

['a', 'b', 'c']

In [4]:
df1=pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [5]:
ls_of_ls=[[12,4],[3,2,3],[3,2,2]]

In [6]:
df2=pd.DataFrame(ls_of_ls)

In [7]:
df2

    0  1    2
0  12  4  NaN
1   3  2  3.0
2   3  2  2.0

In [8]:
# creating data frame from dictionary
dict1={'ID':[11,22,33,44]}

In [9]:
dict1

{'ID': [11, 22, 33, 44]}

In [10]:
df=pd.DataFrame(dict1)

In [11]:
df

   ID
0  11
1  22
2  33
3  44

In [12]:
dict1={'ID':[11,22,33,44],'SN':[1,2,3,4]}

In [13]:
df3=pd.DataFrame(dict1)

In [14]:
df3

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [15]:
# creating data frame from list of dictionary

ls_dict=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]

In [16]:
df5=pd.DataFrame(ls_dict)

In [17]:
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [21]:
dict_sr={
    'id':pd.Series([1,2,3]),'SN':pd.Series([111,222,333])
}
df6=pd.DataFrame(dict_sr)
df6

   id   SN
0   1  111
1   2  222
2   3  333